.App {
  overflow: hidden;
}

.notice {
  background-color: darkslategray;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  word-spacing: 0.5rem;
  padding: 10px;

}

.modal-body {
  display: grid;
}

.workinprogressGIF {
  justify-self: center;
  width: 100%;
  height: 80%;
}