* {
    margin: 0px;
}

.tab-content {
    padding-top: 20px;
    padding-left: 5px;
}

#nav-tab>* {
    margin: 10px;
}

/* .tab-content {
    background-color: #8697C4;
} */

/* .nav-colors {
    background-color: darkslategray;

} */

/* .nav-colors>button {
    color: black;
} */